%h1 Today Fuel Prices

%form
  %label Enter State:
  %input#state

  %button#price-button Get Today's Price!
  %span
    %i Example: "NJ" or "NY" (Leave blank for all states!)

%br
%table#prices
  %th
    %tr
      %td{colspan: '3'}
        %strong State Name
      %td
        %strong Price
  %tbody#prices-data